In [1]:
import pandas as pd
import numpy as np

# Changing Options with Attributes and dot syntax

In [19]:
data = np.random.randint(0, 100, [1000, 50])

In [5]:
data

array([[15, 10, 98, ..., 78, 60, 59],
       [64, 91, 71, ..., 22, 55, 97],
       [78, 36, 96, ...,  2, 37, 56],
       ...,
       [78, 49, 70, ..., 92, 96, 97],
       [91, 25, 82, ..., 53, 91, 71],
       [58, 98,  9, ...,  9, 60, 83]])

In [6]:
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,15,10,98,51,27,26,31,97,69,83,...,82,26,92,42,59,87,31,78,60,59
1,64,91,71,59,39,22,21,20,12,33,...,37,83,52,15,77,35,27,22,55,97
2,78,36,96,54,85,19,5,92,68,51,...,86,7,26,90,1,69,89,2,37,56
3,24,85,37,2,76,42,58,69,83,34,...,93,30,53,92,96,69,58,40,12,45
4,38,1,91,6,35,42,2,16,32,61,...,64,27,46,61,81,2,79,51,88,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,60,71,94,80,83,33,17,99,79,8,...,36,5,0,28,10,5,41,1,12,27
996,9,54,37,2,48,10,72,72,29,53,...,84,34,85,66,95,15,60,19,52,64
997,78,49,70,59,90,70,43,92,99,62,...,34,98,86,57,45,97,76,92,96,97
998,91,25,82,66,63,26,63,36,48,35,...,77,37,24,13,84,98,15,53,91,71
999,58,98,9,87,54,19,94,71,63,22,...,10,64,24,91,30,2,93,9,60,83

In [7]:
df = pd.DataFrame(data)

In [8]:
df.tail(3)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
997,78,49,70,59,90,70,43,92,99,62,...,34,98,86,57,45,97,76,92,96,97
998,91,25,82,66,63,26,63,36,48,35,...,77,37,24,13,84,98,15,53,91,71
999,58,98,9,87,54,19,94,71,63,22,...,10,64,24,91,30,2,93,9,60,83

In [9]:
df.size()

TypeError: 'numpy.int32' object is not callable

In [10]:
pd.options.display.max_rows

60

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,15,10,98,51,27,26,31,97,69,83,...,82,26,92,42,59,87,31,78,60,59
1,64,91,71,59,39,22,21,20,12,33,...,37,83,52,15,77,35,27,22,55,97
2,78,36,96,54,85,19,5,92,68,51,...,86,7,26,90,1,69,89,2,37,56
3,24,85,37,2,76,42,58,69,83,34,...,93,30,53,92,96,69,58,40,12,45
4,38,1,91,6,35,42,2,16,32,61,...,64,27,46,61,81,2,79,51,88,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,60,71,94,80,83,33,17,99,79,8,...,36,5,0,28,10,5,41,1,12,27
996,9,54,37,2,48,10,72,72,29,53,...,84,34,85,66,95,15,60,19,52,64
997,78,49,70,59,90,70,43,92,99,62,...,34,98,86,57,45,97,76,92,96,97
998,91,25,82,66,63,26,63,36,48,35,...,77,37,24,13,84,98,15,53,91,71
999,58,98,9,87,54,19,94,71,63,22,...,10,64,24,91,30,2,93,9,60,83

In [12]:
pd.options.display.max_rows = 18

In [13]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,15,10,98,51,27,26,31,97,69,83,...,82,26,92,42,59,87,31,78,60,59
1,64,91,71,59,39,22,21,20,12,33,...,37,83,52,15,77,35,27,22,55,97
2,78,36,96,54,85,19,5,92,68,51,...,86,7,26,90,1,69,89,2,37,56
3,24,85,37,2,76,42,58,69,83,34,...,93,30,53,92,96,69,58,40,12,45
4,38,1,91,6,35,42,2,16,32,61,...,64,27,46,61,81,2,79,51,88,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,60,71,94,80,83,33,17,99,79,8,...,36,5,0,28,10,5,41,1,12,27
996,9,54,37,2,48,10,72,72,29,53,...,84,34,85,66,95,15,60,19,52,64
997,78,49,70,59,90,70,43,92,99,62,...,34,98,86,57,45,97,76,92,96,97
998,91,25,82,66,63,26,63,36,48,35,...,77,37,24,13,84,98,15,53,91,71
999,58,98,9,87,54,19,94,71,63,22,...,10,64,24,91,30,2,93,9,60,83

In [14]:
pd.options.display.max_rows = 4

In [15]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,15,10,98,51,27,26,31,97,69,83,...,82,26,92,42,59,87,31,78,60,59
1,64,91,71,59,39,22,21,20,12,33,...,37,83,52,15,77,35,27,22,55,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,91,25,82,66,63,26,63,36,48,35,...,77,37,24,13,84,98,15,53,91,71
999,58,98,9,87,54,19,94,71,63,22,...,10,64,24,91,30,2,93,9,60,83

In [16]:
pd.options.display.max_columns

20

In [17]:
pd.options.display.max_columns = 4

In [18]:
df

     0   1   ...  48  49
0    15  10  ...  60  59
1    64  91  ...  55  97
..   ..  ..  ...  ..  ..
998  91  25  ...  91  71
999  58  98  ...  60  83

[1000 rows x 50 columns]

# Changing pandas Options with Methods

In [22]:
pd.get_option("max_rows")

4

In [24]:
pd.get_option("max_columns")

4

In [25]:
pd.set_option("max_rows", 16)

In [26]:
df

     0   1   ...  48  49
0    15  10  ...  60  59
1    64  91  ...  55  97
2    78  36  ...  37  56
3    24  85  ...  12  45
4    38   1  ...  88  56
..   ..  ..  ...  ..  ..
995  60  71  ...  12  27
996   9  54  ...  52  64
997  78  49  ...  96  97
998  91  25  ...  91  71
999  58  98  ...  60  83

[1000 rows x 50 columns]

In [27]:
pd.set_option("max_columns", 20)

In [28]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,15,10,98,51,27,26,31,97,69,83,...,82,26,92,42,59,87,31,78,60,59
1,64,91,71,59,39,22,21,20,12,33,...,37,83,52,15,77,35,27,22,55,97
2,78,36,96,54,85,19,5,92,68,51,...,86,7,26,90,1,69,89,2,37,56
3,24,85,37,2,76,42,58,69,83,34,...,93,30,53,92,96,69,58,40,12,45
4,38,1,91,6,35,42,2,16,32,61,...,64,27,46,61,81,2,79,51,88,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,60,71,94,80,83,33,17,99,79,8,...,36,5,0,28,10,5,41,1,12,27
996,9,54,37,2,48,10,72,72,29,53,...,84,34,85,66,95,15,60,19,52,64
997,78,49,70,59,90,70,43,92,99,62,...,34,98,86,57,45,97,76,92,96,97
998,91,25,82,66,63,26,63,36,48,35,...,77,37,24,13,84,98,15,53,91,71
999,58,98,9,87,54,19,94,71,63,22,...,10,64,24,91,30,2,93,9,60,83

In [29]:
pd.reset_option("max_rows")

In [30]:
pd.reset_option("max_columns")

In [31]:
pd.get_option("max_rows")

60

In [32]:
pd.get_option("max_columns")

20

In [33]:
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

# The Precision Option

Decimal position of a float

In [37]:
df = pd.DataFrame(np.random.randn(5, 5)) #six decimal points

In [38]:
pd.get_option("precision")

6

In [39]:
pd.set_option("precision", 2)

In [40]:
df

      0     1     2     3     4
0  0.98 -0.30  0.09  0.38  0.59
1  0.08 -0.96 -1.29  0.73  2.40
2  1.35  1.76  0.54 -0.27 -0.08
3  0.23  0.56 -0.09  0.45 -1.35
4 -1.01  0.45 -0.21 -0.49  0.80

In [41]:
pd.reset_option("precision")

In [43]:
pd.get_option("precision")

6